h1{
	width:50%;
	margin: auto;
	text-align: center;
}
body{
background-image: url("pizzaPic.jpg");
}
/*p{ can use this to pick color or change the div background color to make a box for the results
	color: red;
}*/