h1{
	width:50%;
	margin: auto;
	text-align: center;
}
body{
background-image: url("pizzaPic.jpg");
}
fieldset{
	background-color: black;
	opacity: 0.6;
}
button{
	background-color: black;
	opacity: 0.6;
	color: white;
}
label{
	color: white;
}
.review{
	background-color: black;
	opacity: 0.6;
	width: 30%;
}
p{
	color: white;
	font-size: 15pt;
	padding-left: 5%;
}